body {
    margin: 0;
    background-image: url("/Assignment%202/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - 180px);
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    width: 650px;
    margin: 180px auto;
    padding: 50px;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0);
}

.landing h1 {
    font-family: "Leelawadee UI", sans-serif;
    color: #c9c6c6;
    font-size: 48pt;
    text-align: center;
}

.page {
    display: flex;
    justify-content: center;
    font-family: "Segoe UI", sans-serif;
    font-size: 26pt;
    font-weight: lighter;
    text-align: center;
    width: 100%;
}

.page a {
    display: block;
    text-decoration: none;
    color: #c4baba;
    margin: 10px;
    width: 130px;
    border-radius: 50px;
}

/* Mobile screen design */
@media only screen and (max-width: 760px) {

    .landing {
        width: 250px;
    }
}